body {
	background-color: #030102;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.container {
	min-width: 960px;
}

.header {
	padding-bottom: 20px;
	background-image: url("images/header.jpg");
    background-size:100%;
    height: 250px;
	min-width: 960px;
	min-height: 250px;
}

.content {
	display: inline-block;
	float: right;
	min-width: 960px; 
	max-width: 960px;
}

.sidebar {
	background-color: #581315;
	display: inline-block;
	float: left;
	height: 1410px;
	width:330px;
}

.button {
	display: block;
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
	width: 330px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: white;
	font-family: helvetica;
	text-shadow: 0px -1px 0px black;
	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button:hover {

	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button:active {
	-webkit-filter: brightness(80%); 
  	-moz-filter: brightness(80%);
  	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.button2 {
	display: block;
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
	width: 330px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: white;
	font-family: helvetica;
	text-shadow: 0px -1px 0px black;
	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button2:hover {
	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button2:active {
	-webkit-filter: brightness(80%); 
  	-moz-filter: brightness(80%);
  	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.button3 {
	display: block;
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
	width: 330px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: white;
	font-family: helvetica;
	text-shadow: 0px -1px 0px black;
	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button3:hover {
	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button3:active {
	-webkit-filter: brightness(80%); 
  	-moz-filter: brightness(80%);
  	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.button4 {
	display: block;
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
	width: 330px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: white;
	font-family: helvetica;
	text-shadow: 0px -1px 0px black;
	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button4:hover {
	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button4:active {
	-webkit-filter: brightness(80%); 
  	-moz-filter: brightness(80%);
  	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.button5 {
	display: block;
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
	width: 330px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: white;
	font-family: helvetica;
	text-shadow: 0px -1px 0px black;
	-webkit-transition: all 0.1s;
  	-moz-transition: all 0.1s;
  	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button5:hover {
	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

.button5:active {
	-webkit-filter: brightness(80%); 
  	-moz-filter: brightness(80%);
  	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.box1 {
	float: left;
	background-size:cover;
	margin:5px;
	width:  225px;
	height: 225px;
	max-width: 225px;
	max-height: 225px;
}

.box1:hover {
	float: left;
	-webkit-filter: brightness(50%); 
  	-moz-filter: brightness(50%);
  	-o-filter: brightness(50%);
	filter: brightness(50%);
	
}

.box1:active {
	-webkit-filter: brightness(120%); 
  	-moz-filter: brightness(120%);
  	-o-filter: brightness(120%);
	filter: brightness(120%);
}

/*.box1:active {
	background-image: url("images/fuckthisshit.gif")!important;
}*/

.box2 {
	float: left;
	background-color: #000000;
	background-size:cover;
	height: 200px;
	width: 200px;
}
.footer {
	padding-bottom: 20px;
	background: #030102;
    height: 250px;
    color: white;
    text-align:center;
    width: 960px;
	min-width: 960px;
	min-height: 50px;
}